.env
*.jsonl
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log
.venv
.venv311
ipynb_checkpoints/
.jupyter/
.vscode/
.idea/

*.zip
*.gz
*.parquet
*.html
+.gguf
*.gguf

# Data folders with experimental or large data
LoadedPapers/
s2orc/
DataNotebooks/
ThermopylenOutput/
CovidOutput/
CovidPDFs/
Thermopylen/
Pompei/
New/

#files
JsonHandler.ipynb/
